/*! Google Fonts Import  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

/*! CSS resets */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
body {
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.5;
	width: 100%;
	height: 100%;
	position: relative;
	background: linear-gradient(
		45deg,
		#000000,
		#525252,
		#000000,
		#525252,
		#000000,
		#525252
	);
	color: var(--light);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	display: none;
}
a:visited,
a:link,
a:active {
	text-decoration: none;
	transition: var(--transition);
}
:root {
	--dark: #2c2c2c;
	--darkWindow: #00000072;
	--light: #fffffff0;
	--lightWindow: #e0e0e080;
	--pink: #ff00ff;
	--red: #ff0000;
	--orange: #ff8800;
	--yellow: #fdfd84;
	--green: #00ffbf;
	--blue: #0099ff;
	--purple: #800080;
	--black: #000000;
	--white: #ffffff;
	--titleFont: 40px;
	--h1: 36px;
	--h2: 28px;
	--h3: 20px;
	--h4: 14px;
	--p: 14px;
	--bold1: 200;
	--bold2: 400;
	--bold3: 700;
	--largeScreen: 70%;
	--mediumScreen: 80%;
	--smallScreen: 90%;
	--transition: all 500ms ease;
	--swiper-theme-color: var(--green);
}
.red {
	color: var(--red);
}
.orange {
	color: var(--orange);
}
.yellow {
	color: var(--yellow);
}
.green {
	color: var(--green);
}
.blue {
	color: var(--blue);
}
h1 {
	font-size: var(--h1);
}
h2 {
	font-size: var(--h2);
}
h3 {
	font-size: var(--h3);
}
h4 {
	font-size: var(--h4);
	font-weight: var(--bold2);
}
p {
	font-size: var(--p);
}
.text {
	text-align: center;
}
img {
	display: block;
	width: 100%;
	object-fit: cover;
}
.wrapper {
	width: var(--smallScreen);
	margin: 0 auto;
}
.btn {
	width: max-content;
	margin: 1rem 0.5rem 0.5rem 0.5rem;
	display: inline-block;
	color: var(--green);
	background: var(--dark);
	padding: 0.4rem 0.7rem;
	border-radius: 0.3rem;
	cursor: pointer;
	border: 0.5px solid var(--green);
	font-size: 1rem;
	font-weight: var(--bold3);
	transition: var(--transition);
}
.btn:hover {
	background: var(--green);
	color: var(--dark);
	border-color: var(--dark);
}
.sectionTitle {
	text-align: center;
	margin-bottom: 1rem;
	color: var(--green);
	text-decoration: underline;
	text-shadow: 2px 4px 4px var(--black);
}

/*! Header Component */
section#about {
	padding-top: 2rem;
}
.aboutTitle {
	text-align: center;
	margin-bottom: 1rem;
	color: var(--green);
	text-decoration: underline;
}
header {
	height: 100vh;
}
.title {
	font-size: var(--titleFont);
	font-weight: var(--bold2);
	font-style: italic;
}
.titleImg {
	border-radius: 0% 0% 50% 50%;
	max-width: 200px;
	margin: 2rem auto;
	width: 50%;
	border: 2px solid var(--green);
	box-shadow: 0px 0px 10px 2px var(--green);
}
.bioDiv {
	margin: 2.5rem auto auto 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.bio {
	margin-bottom: 10rem;
	max-width: 500px;
}

/*! Nav Components */
.navContainer {
	width: 100vw;
	display: flex;
	justify-content: center;
}
.navBar {
	position: fixed;
	bottom: 1rem;
	width: 300px;
	height: 60px;
	background: var(--darkWindow);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	z-index: 100;
	border: 1px solid var(--green);
	box-shadow: 0px 0px 10px 2px var(--green);
	border-radius: 2rem;
}
.navIcons {
	color: var(--green);
	font-size: 1.5rem;
}
.navIcons:hover {
	font-size: 2rem;
	color: var(--blue);
}
.selected {
	color: var(--yellow);
	font-size: 2rem;
}

/*! Portfolio Component */
section#portfolio {
	margin-top: 10rem;
	height: 100vh;
}
.container {
	margin-top: 200px;
	max-width: 1200px;
	padding: 5px;
}
.projFrame {
	margin: 0 auto;
	width: 85%;
	padding: 5px;
	border-radius: 3rem;
}

.projWindow {
	position: relative;
}
.slideTitle {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	background-color: var(--dark);
	color: var(--green);
	border: 1px solid var(--green);
	border-radius: 1rem;
	padding: 0.25rem;
}
.slideTitle1 {
	margin-left: -78px;
}
.slideTitle2 {
	margin-left: -94px;
}
.slideTitle3 {
	margin-left: -62px;
}
.slideTitle4 {
	margin-left: -76px;
}
.slideTitle5 {
	margin-left: -80px;
}
.slideTitle6 {
	margin-left: -68px;
}
.slideTitle7 {
	margin-left: -90px;
}
.slideTitle8 {
	margin-left: -52px;
}
.slideTitle9 {
	margin-left: -96px;
}
.slides {
	object-fit: fill;
	margin: 0 auto;
	height: 200px;
	border-radius: 3rem;
	border: 0.5px solid var(--green);
	filter: drop-shadow(1px 3px 8px var(--green));
	width: 90%;
	padding: 1px;
}
.projBtns {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 0.25rem;
	margin-bottom: 2rem;
}
span.swiper-pagination-bullet {
	background-color: var(--green);
}
.swiper-slide-prev {
	opacity: 0.6 !important;
}
.swiper-slide-next {
	opacity: 0.6 !important;
}
.swiper-slide-shadow-right {
	opacity: 0 !important;
}
.swiper-slide-shadow-left {
	opacity: 0 !important;
}

/*! Contact Component */
section#contact {
	margin-top: 10rem;
	height: 100vh;
}
.contactFormDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 8rem;
	gap: 1rem;
}
.userInput,
.emailInput {
	text-align: center;
	font-size: 18px;
	width: 90%;
	height: 20px;
	padding: 1rem;
	border-radius: 1rem;
	border: 5px inset var(--green);
	max-width: 500px;
	color: var(--dark);
}
.messageInput {
	font-size: 18px;
	width: 90%;
	height: 200px;
	padding: 0.8rem;
	border-radius: 1rem;
	border-radius: 1rem;
	border: 5px inset var(--green);
	max-width: 500px;
}
.required {
	color: var(--yellow);
	font-size: 12px;
}
.error {
	color: var(--white);
	font-size: 12px;
	max-width: 500px;
	background-color: var(--red);
	border: 1px solid var(--dark);
	border-radius: 1rem;
	padding: 0.5rem;
}

/*! Resume Component */
section#resume {
	margin-top: 10rem;
	height: 20vh;
}
.resume {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 2rem;
}

/*! Footer Component  */
footer {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.verticle {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.skills {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	max-width: 400px;
	gap: 10px;
	background-color: var(--blue);
	padding: 1rem;
	border-radius: 2rem;
	border: 2px solid var(--green);
}
.icon {
	width: 72px;
	height: 72px;
	margin-bottom: 5rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

/*! Media Queries (medium screens) */
@media screen and (min-width: 767px) {
	.wrapper {
		width: var(--mediumScreen);
	}
	.title {
		font-size: 48px;
	}
	h2 {
		font-size: var(--h1);
	}
	h3 {
		font-size: var(--h2);
	}
	h4 {
		font-size: var(--h3);
	}
	.navBar {
		position: fixed;
		top: 15rem;
		right: 1rem;
		width: 60px;
		height: 300px;
		flex-direction: column;
		justify-content: space-around;
		z-index: 100;
	}
	.container {
		margin-top: 150px;
	}
	.slides {
		height: 300px;
	}
	.swiper-button-prev,
	.swiper-button-next {
		display: flex !important;
	}
	.skills {
		gap: 1rem;
	}
	.icon {
		margin-bottom: -5rem;
		margin-left: 3rem;
		margin-right: 3rem;
	}
}

/*! Media Queries (large screens) */
@media screen and (min-width: 1024px) {
	.wrapper {
		width: var(--largeScreen);
	}
	.title {
		font-size: 56px;
	}
	.bio {
		max-width: 700px;
	}
	h2 {
		font-size: var(--titleFont);
	}
	h3 {
		font-size: var(--h1);
	}
	h4 {
		font-size: var(--h2);
	}
	.container {
		margin-top: 100px;
	}
	.slides {
		height: 400px;
	}
}

/*! Media Queries (xlarge screens) */
@media screen and (min-width: 1440px) {
	.slides {
		height: 500px;
	}
}