/*! Google Fonts Import  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

/*! CSS resets */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
body {
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.5;
	width: 100%;
	height: 100%;
	position: relative;
	background: linear-gradient(
		45deg,
		#000000,
		#525252,
		#000000,
		#525252,
		#000000,
		#525252
	);
	color: var(--light);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	display: none;
}
a:visited,
a:link,
a:active {
	text-decoration: none;
	transition: var(--transition);
}
:root {
	--dark: #2c2c2c;
	--darkWindow: #00000072;
	--light: #fffffff0;
	--lightWindow: #e0e0e080;
	--pink: #ff00ff;
	--red: #ff0000;
	--orange: #ff8800;
	--yellow: #fdfd84;
	--green: #00ffbf;
	--blue: #0099ff;
	--purple: #800080;
	--black: #000000;
	--white: #ffffff;
	--titleFont: 40px;
	--h1: 36px;
	--h2: 28px;
	--h3: 20px;
	--h4: 14px;
	--p: 14px;
	--bold1: 200;
	--bold2: 400;
	--bold3: 700;
	--largeScreen: 70%;
	--mediumScreen: 80%;
	--smallScreen: 90%;
	--transition: all 500ms ease;
	--swiper-theme-color: var(--green);
}
.red {
	color: var(--red);
}
.orange {
	color: var(--orange);
}
.yellow {
	color: var(--yellow);
}
.green {
	color: var(--green);
}
.blue {
	color: var(--blue);
}
h1 {
	font-size: var(--h1);
}
h2 {
	font-size: var(--h2);
}
h3 {
	font-size: var(--h3);
}
h4 {
	font-size: var(--h4);
	font-weight: var(--bold2);
}
p {
	font-size: var(--p);
}
.text {
	text-align: center;
}
img {
	display: block;
	width: 100%;
	object-fit: cover;
}
.wrapper {
	width: var(--smallScreen);
	margin: 0 auto;
}
.btn {
	width: max-content;
	margin: 1rem 0.5rem 0.5rem 0.5rem;
	display: inline-block;
	color: var(--green);
	background: var(--dark);
	padding: 0.4rem 0.7rem;
	border-radius: 0.3rem;
	cursor: pointer;
	border: 0.5px solid var(--green);
	font-size: 1rem;
	font-weight: var(--bold3);
	transition: var(--transition);
}
.btn:hover {
	background: var(--green);
	color: var(--dark);
	border-color: var(--dark);
}
